{% extends 'base.html.twig' %}

{% block title %}
    Home | AddPost
{% endblock %}


{% block body %}
    <h1 class="page-header text-center">
        {{ message }}
    </h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="col-md-2"></div>
    </div>
{% endblock %}
